on fs
    setprop ro.product.name Trochilus_00WW
	setprop ro.build.fingerprint Trochilus/Trochilus_00WW/Trochilus:9/PPR1.180610.011/00WW_0_330:user/release-keys
	setprop ro.build.description "Trochilus_00WW-user 9 PPR1.180610.011 00WW_0_330 release-keys"
